Data Science Tools and Ecosystems

Author: Vanessa Summer


In this notebook, data science tools and ecosystems are summarized.

Objectives:
* List popular language for data science
* List common libraries for data scientists
* List data Science tools
* List examples of simple arithmetic expressions

In [ ]:
Some of the popular Languages that Data Scientists Use are:
    1. Python
    2. Java
    3. R
    4. Julia

In [ ]:
Some of the Common Libraries used by Data Scientists Include:
    1. ApacheSpark
    2. Matplotlib
    3. NumPy

In [ ]:
|Data Science Tools|
|:----------------:|
|R Studio|
|Tensor Flow|
|ApacheSpark|

Below are a few examples of evaluating arithmetic expressions in Python

This is a simple arithmatic expression to multiply then add integers.

In [7]:
(3*4) + 5

17

In [5]:
min=int(input("enter time in minutes"))

h=min//60

m=min%60

print("Hours=",h)

print("Min=",m)

enter time in minutes 200

Hours= 3
Min= 20